body {
  font-family: Arial, sans-serif;
  background-color: #aef5f5;
  display: grid;
  justify-content: center;
  justify-items: center;

  background-image: url('./img/');
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  text-align: center;
  margin-top: 50px;
}

/* Estilos para las tablas */
table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
  
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #b6a9ff;
  color: #333;
  font-weight: bold;
  font-size: 16px;
}

tr:hover {
  background-color: #9075f3;
}

/* Estilos para los botones de las tablas */ 
#boton-editar {
  background-color: #007bff;
  color: #fff;
}

#boton-borrar {
  background-color: #dc3545;
  color: #fff;
}

#boton-añadir{
  background-color:  #7ed9fd;
  color: #fff;
}

/* Estilos para los botones en general */
#botones-home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  flex-direction: column;
  
}

#botones-home a {
  text-decoration: none;
  margin: 10px;
}

button {
  background-color: #008CBA;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 150px;
}

button:hover {
  background-color: #004c60;
}

a {
  color: #008CBA;
  font-size: 16px;
  margin-top: 20px;
  display: block;
  text-align: center;
}

/* Estilos para los labels */
label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
  }
  
  /* Estilos para los selects */
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    color: #333;
    font-size: 14px;
    font-weight: bold;
  }
  
select:focus {
    outline: none;
    border-color: #66afe9;
    box-shadow: 0 0 5px rgba(102, 175, 233, 0.5);
  }
  
  /* Estilos para las opciones del select */
select option {
    background-color: #fff;
    color: #333;
    font-size: 14px;
    font-weight: bold;
  }
  
/* Estilos para las opciones del input */
input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ccc;
    background-color: #f9f9f9;
    color: #333;
    font-size: 14px;
    font-weight: bold;
    transition: border-color 0.3s ease;
  }

input:focus {
    outline: none;
    border-color: #66afe9;
  }